@font-face {
  font-family: 'Rockinline';
  src: url('./Rockinline.ttf') format('opentype');
}

@font-face {
  font-family: 'Bangers';
  src: url('./Bangers.ttf') format('opentype');
}

// Reset
@import '_reset.scss';

// Third Parts
@import '_uikit.min.scss';

// Global
@import '_variables.scss';
@import '_mixins.scss';
@import '_functions.scss';
@import '_transition.scss';

// Elements
@import '_expand.scss';

// Blocks
@import '_banner.scss';
@import '_cta-register.scss';
@import '_image-grid.scss';
@import '_park-map.scss';
@import '_standings.scss';
@import '_stream.scss';
@import '_tabs.scss';
@import '_leaderboard.scss';

// Sections
@import '_navbar.scss';
@import '_footer.scss';

// Pages
@import '_page-home.scss';
@import '_page-events.scss';
@import '_page-event.scss';
@import '_page-park.scss';

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
}

.uk-modal-dialog {
  p {
    line-height: 1.5;
  }
}

.uk-button-danger {
  background-color: $red-500;
}
